body {
    font-family: comic sans ms;
    margin: 0px;
  }
  
  .top {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side, .right-side {
    display: flex;
  }
  
  .nav-buttons > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .nav-format {
    border-bottom: 1px solid black;
  }
  
  .nav-format a {
    color: black !important;
  }
  
  .nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link a:hover {
    color: black;
  }
  
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .individual-image {
    position: relative;
  }
  
  .img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .img-text:hover .subtitle {
    background-color: black;
    color: lightseagreen;
    font-weight: 600;
  }
  